<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/editor.css' />
  <link rel='stylesheet' href='/stylesheets/viewer.css' />
  <%- include('includes/favicons.ejs') %>
  <%- include('includes/psviewer-dependencies.ejs',{markers: true}) %>
</head>

<body>
  <div id="portal-controls">
    <div class="controller-subcontainer top-align left-align">
      <input class="create-marker-text" id="create-marker-text-id-link" type="text" placeholder="Enter Link Portal ID">
      <button id="add-marker-button" class="create-marker-button">Create Marker</button>
      <button id="final-marker-button" class="create-marker-button">Finalize Portal</button>
      <button id="return-marker-button" class="create-marker-button">Return to Portal</button>
    </div>
    <div class="controller-subcontainer top-align right-align">
      <div id="mode-text-div">
        <h1>Mode: Roaming</h1>
      </div>
      <div id="mode-text-div">
        <h1>Map: Don't know lol</h1>
      </div>
      <button class="create-marker-button" id="gallery-button">Portal Gallery</button>
    </div>
  </div>
  <div class="gallery invisible">
    <% for (var i = 0; i < 3;  i++ ) { %>
    <div class="flex-grid">
      <% for (var j = 0; j < 6;  j++ ) { %>
      <div class="col">
        <img class="gallery-thumbnail" src=""></img>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>

  <div id="viewer"></div>
  <script id="editor-script" type="module" src="/viewsjs/editor.mjs" data-panorama="<%= panorama %>" data-mapUUID="<%= mapUUID %>"></script>

</body>

</html>
